form#trial_config label,  form#trial_config input, form#trial_config select{
  margin-bottom: 8px;
}

form#trial_config h3 {
  padding: 4px;
}

.num-input  {
  width: 40px;
}

form#trial_config label {
  margin-top: 6px;
}
form#trial_config input {
  margin-top: 4px;
}
table.trials {
  margin-top: 24px;
}
