form#trial_config label,  form#trial_config input, form#trial_config select{
  margin-bottom: 8px;
}

form#trial_config h3 {
  padding: 4px;
}

.num-input  {
  width: 50px;
}

form#trial_config label {
  margin-top: 6px;
}
form#trial_config input {
  margin-top: 4px;
}
table.trials {
  margin-top: 24px;
}

/* Trial Config */
.round-container h3, .group-container h3 {
  margin-bottom: 0;
}

.round-container .form-group, .group-container .form-group {
  padding: 8px;
  border: 1px solid #eee;
}
