body {
	background-color: #F0F1F4;
	color: #000;
}

.container {
	width: 100%;
}

h1 {
	text-align: center;
	font-size: 150%;
	color: #000;
}

h2, h3 {
	font-size: 110%;
	color: #000;
}

/**
* Timer
*/

div#timer_container {
	padding: 8px;
}

div#timer_container div {
    border: 1px solid black;
    width: 12%;
    float: right;
    margin-right: 2%;
    padding: 4px;
    text-align: left;
    background: #fff
}

/**
* 	Solutions
*/

div.solutions {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

table {
	border: none;
}

.table>thead>tr>th {
	border: none;
}

.table>tbody>tr>td, .table>tbody>tr>th {
	/* Sets all columns to be equal width (i.e. 1/6) */
	width: 16.67%;
	border: 1px solid #000;

}

table.solutions {
	background-color: #fff;
	width: 90%;
}

table.solutions th{
	background-color: #F0F1F4;
	text-align: center;
	font-weight: 700;
}

table.solutions tr td:first-child{
	border: none;
	text-align: right;
	background-color:  #F0F1F4;
}

table.solutions .btn-sm {
	font-size: 10px;
	padding: 1px 4px;
	margin: 0;
}

table.solutions tr td {
	padding: 4px;
	position: relative;
	height: 24px;
	vertical-align: middle;
}

.solution-container {
	margin-right: 4px;
}

form.solution-form {
	width: 100%;
	min-width: 224px;
	padding: 4px;
	margin-top: -22px;
  margin-left: -2px;
	z-index: 2;
	position: absolute;
	background-color: #F0F1F4;
	border: 1px solid #000;
	display: none;
}

form.solution-form input, form.solution-form label {
	margin: 8px 0;
}

/**
* Messaging
*/

div#messaging_container {
    width: 100%;
    border: 1px solid #666666;
    margin: 0 auto;
    padding: 4px;
    background: #fff;
}

div#messaging_container form#msg_form{
	width: 94%;
	margin: 0 auto;
}

div#messaging_container form textarea {
	width: 100%;
}

div.share-to {
	background-color: #fff;
	padding: 8px;
}

div.share-to h3 {
	margin-top: -4px;
	text-align: center;
}

div.share-to div {
	float:left;
	clear: both;
	margin: 24px 0 0 18px;
}

label.share-name, input.share-name {
	float: left;
}

input.share-name {
	margin: -10px 6px 0 0;
}

label.share-name {

	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);

    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

    padding: 8px;
    width: 1%;
}

div.share-to div br {
	float: left;
	clear: both;
}

#msg_cancel {
	margin-right: 12px;
}

div#msg_feed {
	padding-left: 36px;
	padding-right: 36px;
}

div.message {
	background-color: #F3FBFE;
	padding: 4px;
	margin-bottom: 8px;
	float: left;
	width: 100%;
}

div.reply {
	float: left;
	clear: both;
	margin-left: 6px;
}

div.message span.header {
	font-weight: bold;
	display: block;
	float: left;
	clear: left;
	width: 100%
}

span.msg-body {
	float: left;
}


span.msg-body span {
	margin-left: 4px;
}

span.msg-body span a:hover {
	cursor: pointer;
}

div.message form.reply-form {
	display: none;
	width: 50%;
	float: left;
	clear: both;
	background-color: #E1F5FE;
	padding: 8px;
}

form.reply-form h3 {
	margin-top: 4px;
}

form.reply-form input[type="text"]{
	float: left;
	clear: both;
	width: 96%;
	margin-bottom: 4px;
}

form.reply-form .btn-sm {
	padding: 2px 8px!important;

}

/**
 * Search
 */

div#search_container {
	width: 100%;
	border: 1px solid #666666;
	margin: 0 auto;
	padding: 4px;
	background: #fff;
	min-height: 400px;
}


#search_form input#search_term {
	width: 90%;
	font-size: 150%;
	padding: 4px;
}
